<% include ../partials/header %>

<div class="container">
    <h1>Property Detail</h1>
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top" src="<%= property.url %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">$ <%= property.price %></h5>
                    <p class="card-text"><%= property.address %></p>
                    <p class="card-text"><%= property.description %></p>
                    <a class="float-right btn btn-warning btn-sm" href="/properties/<%= property._id %>/edit">Edit</a>
                    <form class="float-right mr-1" action="/properties/<%= property._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-9">
            <hr>
            <div class="card-header">
                Questions
                <a href="/properties/<%=property._id%>/questions/new" class="float-right btn btn-sm btn-success">New Question</a>
            </div>
            <div class="card-footer text-muted">
                <% property.questions.forEach(function(question){ %>
                    <div class="row ">
                        <div class="col">
                            <div class="float-right" >
                                <a href="/properties/<%=property._id%>/questions/<%=question._id%>/edit"><i class="fas fa-edit"></i></a>
                                <form class="float-right" action="/properties/<%= property._id %>/questions/<%=question._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-link p-0 mx-1 my-0 border-0 align-top"><i class="far fa-trash-alt"></i></button>
                                </form>
                            </div>
                            <h6 class="mb-0"> Jhon Baily</h6>
                            <small class="text-muted"><em>Last updated 3 mins ago</em></small>
                            <p> <%= question.question %></p>
                            <p class="ml-2"> <em>Morbi congue et ante sed aliquam. Curabitur quis egestas ante. Curabitur ornare libero quis blandit posuere. Vestibulum eu egestas enim. Nullam dignissim porta ligula vel cursus</em></p>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>